.lead__title {
  color: #fff;
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: calc(25/24);
  text-align: center;
  margin: 0;
  align-self: center;
}

@media all and (max-width: 720px) {
  .lead__title {
    width: 100%;
    font-size: calc(100vw/8);
    line-height: 1.1;
  }
}

@media all and (max-width: 320px) {
  .lead__title {
    width: 288px;
    font-size: 40px;
  }
}