.place__paragraph {  
  width: 484px;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(29/18);
  color: #fff;
  margin: 0 0 26px 40px;
}

.place__paragraph:last-child {  
  margin-bottom: 0;
}

@media all and (max-width: 1080px) {
  .place__paragraph {
    width: 456px;
    margin-left: 32px;
  }
}

@media all and (max-width: 1023px) {
  .place__paragraph {
    width: 426px;
  }
}

@media all and (max-width: 912px) {
  .place__paragraph {
    width: 377px;
  }
}

@media all and (max-width: 820px) {
  .place__paragraph {
    width: 352px;
    font-size: 16px;
    line-height: 1.63;
    margin-left: 28px;
    margin-bottom: 25px;
  }
}

@media all and (max-width: 740px) {
  .place__paragraph {
    width: calc(100% - 32px);
    font-size: 16px;
    line-height: 1.63;
  }
}

@media all and (max-width: 550px) {
  .place__paragraph {
    margin: 0 auto 25px;
  }
}