.cover {
  background-image: url(../../images/cover-trains.jpg);
  max-width: 1184px;
  min-width: 320px;
  min-height: 740px;
  background-size: cover;
  margin: 0 auto 92px;
}

@media all and (max-width: 1184px) {
  .cover {
    min-height: calc(740*100vw/1184);
  }
}

@media all and (max-width: 768px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media all and (max-width: 320px) {
  .cover {
    margin-bottom: 64px;
  }
}