.cover__overlay{
  width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(42, 44, 47, .3);
  transition: background-color .4s linear;
}

@media all and (max-width: 1184px) {
  .cover__overlay {
    min-height: calc(740*100vw/1184);
    min-width: 320px;
  }
}

@media all and (max-width: 320px) {
  .cover__overlay {
    min-height: 200px;
  }
}