.place {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 80px 0;
}

@media all and (max-width: 768px) {
  .place {
    margin-bottom: 72px;
  }
}

@media all and (max-width: 740px) {
  .place {
    justify-content: center;
  }
}

@media all and (max-width: 550px) {
  .place {
    margin-bottom: 50px;
  }
}