.place__url-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 2px;
  color: #aaa;
  margin: 0 0 4px 0;
}

@media all and (max-width: 820px) {
  .place__url-heading {
    line-height: 1;
    margin-bottom: 12px;
  }
}