.place__website {
  margin: 0 0 48px 40px;
  align-self: end;
}

@media all and (max-width: 1080px) {
  .place__website {
    margin-left: 32px;
  }
}

@media all and (max-width: 820px) {
  .place__website {
    margin-left: 28px;
  }
}

@media all and (max-width: 740px) {
  .place__website {
    margin-left: 0;
    margin-bottom: 32px;
    width: 540px;
  }
}

@media all and (max-width: 550px) {
  .place__website {
    width: calc(100% - 32px);
  }
}